<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
	<meta charset="ISO-8859-1">
	<title>Perfil</title>
</head>

<body>
	<main class="container">
		<div id="centrar" class="col-4 card">
			<h1>Perfil de usuario</h1>

			<label>Nombre:</label>
			<p th:text="${usuario.nombre}"></p><br>
			<p th:text="${session.idUsuario}"></p>
			<h4 th:each="rol: ${usuario.roles}" th:text=${rol.nombre}></h4>
		</div>
		<div sec:authorize="isAuthenticated()">
			<ul class="navbar-nav me-d">
				<li class="nav-item"><a class="btn btn-outline-danger" th:href="@{/logout}">Log out <span
							class="visually-hidden">(current)</span></a></li>
					<li class="nav-item"><a class="btn btn-outline-success" th:href="@{/actualizar/{id} (id=${session.idUsuario})}">Actualizar <span
							class="visually-hidden">(current)</span></a></li>
							<li class="nav-item"><a class="btn btn-outline-danger" th:href="@{/borrar/{id} (id=${session.idUsuario})}">Borrar <span
							class="visually-hidden">(current)</span></a></li>		
			</ul>
		</div>
	</main>
</body>

</html>
